.sidebar{
  position: fixed;

  width: 100vw;
  
  top: 80vh;
  bottom: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #242424;
  z-index: 999;
}

.sidebar .dragarea{
  height: 10px;
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  background-color: rgb(77, 77, 77);

  touch-action: none;
}

.sidebar .dragarea:hover{
  cursor: row-resize;
}

.sidebar * {
  margin: 5px;
}

.sidebar .estimate{
  color: rgb(104, 104, 104);
  font-size: small;
}

.sidebar .vehicleCards{
  width: 100%;
  margin: 0px;
  overflow-y: hidden;
  flex-shrink: 1;
  padding: 0;
}


.sidebar .vehicleCard{
  padding: 0px;
  margin: 0px;
  display: flex;
  align-items: baseline;
}

.sidebar .vehicleCard:hover{
  cursor: pointer;
}

.sidebar .vehicleCard .tracked{
  background-color: white;
  border-radius: 2px;
  height: 4px;
  width: 4px;
  align-self: center;
}

.sidebar .vehicleCard .tracked.active{
  background-color: rgb(0, 255, 0);
}

.sidebar .vehicleCard .route{
  white-space: nowrap;
  width: 80%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.sidebar h2{
  margin-left: 8px;
  margin-right: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 8px 0 8px 0;
}

.sidebar .vehicleCard p{
  padding: 3px;
  margin: 0 0 0 8px;
}

.sidebar .vehicleCard .extra-info{
  display: flex;
  align-items: baseline;
}

.sidebar .vehicleCard:nth-child(odd){
  background-color: rgb(20, 20, 20);
}

.sidebar .stopinfo{
  width: 100%;
  margin: 0px;
  display: flex;
  flex-direction: column;
}

.sidebar .project-info p{
  margin-left: 8px
}

.sidebar-content{
  width: 100%;
  height: 100%;
  margin: 0px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.sidebar .attribution {
  color: grey;
  font-size: small;
  flex-shrink: 0;
  padding-bottom: 24px;
}

@media only screen and (min-width: 800px){  
  .dragarea{
    display: none;
  }

  .sidebar{
    position: absolute;
    top: 0vh !important;
    left: 0px;
    height: 100vh;
    width: 350px;
  }

  .sidebar .attribution {
    padding-bottom: 0;
  }

  .sidebar-content {
    justify-content: space-between;
    overflow-y: hidden;
  }

  .stopinfo{
    overflow-y: hidden;
  }
  .sidebar .vehicleCards{
    overflow-y: scroll;
  }
  
}


.sidebar h2{
  flex-shrink: 0;
}

.sidebar .sourcecode{
  display: flex;
  width: 100%;
  align-items: center;
  align-content: baseline;
  margin: 0px;
}

.sourcecode a{
  width: 40px;
  height: 40px;
  margin: 0;
  filter: invert();
}